.Intro{
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10px;
  }
.Cent{
    margin-top: 0.5em;
    font-family:  serif;
    text-align: center;
    color: #40514E;
    margin-bottom: o.5em;
}
.Introduction{
  background-color: #7DE5ED;
}